<!--  Simulation will run all combinations -->
<simulation runs="2" seed="1292314999">
	<devicelist>
		<device file="db/all_cam_configs.db3"/>
		<device file="db/cam_configs_no1280x960.db3"/>
		<device file="db/cam_configs_noFlash.db3"/>
		<device file="db/cam_configs_noWifi.db3"/>
		<device file="db/cam_configs_noWifi_no1280x960.db3"/>
	</devicelist>
	
	<strategylist tries="500">
		<strategy type="doe" memoization="true" />
		<strategy type="random_greedy" memoization="true" />
		<strategy type="random_greedy" memoization="true" doesize="128" />
		<strategy type="random_greedy" memoization="true" onlynew="true" /> 
		<strategy type="random_greedy" memoization="true" doesize="128" onlynew="true" />
		<strategy type="hill_climbing" memoization="true" />
		<strategy type="hill_climbing" memoization="true" doesize="128" />
		<strategy type="hill_climbing" memoization="true" onlynew="true" />
		<strategy type="hill_climbing" memoization="true" doesize="128" onlynew="true" />
	</strategylist>
	
	<targetlist targets="500" percent="10">
		<target type="energy"/>
		<target type="quality"/>
		<target type="ratio"/>
	</targetlist>

	<outputlist>
		<output type="logfile" delim=" " filename="/home/fmaker/workspace/LazySimulator/results/"/>
	</outputlist>

</simulation>
